@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body {
    background-color: blanchedalmond;
    text-align: center;
    font-family: "Monserrat", "", sans-serif;
    font-size: 18px;
}